.vc {
  border-collapse: collapse;
  width: 100%;
}
.vc_head {
  background-color: skyblue;
  height: 75px;
}
.gr {
  background-color: rgb(224, 219, 219);
  height: 60px;
}
.Vaccination_Report {
  width: 100%;
  height: 500px;
  border: 1px solid black;
}

ul {
  list-style-type: number;
  padding-left: 20px;
}

ul li {
  padding-bottom: 25px;
}
